<div>
	<div layout="row" class="main" style="height:90vh">
		<md-card flex="83" layout="column" style="overflow-y: auto">
			<div ng-class="{'show' : ctrl.loading, 'remove' : !ctrl.loading}" layout="row" layout-sm="column" layout-align="space-around">
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>
			<span ng-click="ctrl.navigate(dat.seriesID)" ng-class="{'show' : !ctrl.loading, 'remove' : ctrl.loading}" ng-repeat="dat in ctrl.fData">
				{{ dat.seriesID }} : {{ dat.name }} : {{ dat.meta[0].Status }}
			</span>
		</md-card>
		<md-card flex="15" layout="column">
			<md-input-container class="md-margin">
				<label>Name Contains</label>
				<input ng-model="ctrl.contains">
			</md-input-container>
			<md-checkbox ng-model="ctrl.onAir">
				On Air: {{ ctrl.onAir }}
			</md-checkbox>
			<md-button class="md-margin md-raised md-primary active" ng-click="ctrl.refresh()">Search</md-button>
		</md-card>
	</div>
</div>